body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:735px;
}
#u0 {
  position:absolute;
  left:31px;
  top:35px;
  width:1059px;
  height:735px;
}
#u1 {
  position:absolute;
  left:2px;
  top:360px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
